.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.heading {
  font-family: "Luckiest Guy", cursive;
  font-size: 44px;
}

.colored-box-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.colored-box {
  height: 200px;
  width: 200px;
  border-radius: 10%;
  border: 2px dotted black;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button {
  font-family: "Luckiest Guy", cursive;
  font-size: 20px;
  padding: 10px;
  border-radius: 10%;
}

.orange {
  background-color: orange;
}

.orange:hover {
  color: orange;
  background-color: black;
}

.aqua {
  background-color: aqua;
}

.aqua:hover {
  color: aqua;
  background-color: black;
}

.khaki {
  background-color: khaki;
}

.khaki:hover {
  color: khaki;
  background-color: black;
}

.skyblue {
  background-color: skyblue;
}

.skyblue:hover {
  color: skyblue;
  background-color: black;
}

.tomato {
  background-color: tomato;
}

.tomato:hover {
  color: tomato;
  background-color: black;
}

.hotpink {
  background-color: hotpink;
}

.hotpink:hover {
  color: hotpink;
  background-color: black;
}
